@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.brands {
    @include flex(row, center, center);
    background-color: $color-primary;
    padding: $space-xxl;
    

    &__items {
        @include flex(row, space-between, center);
        width: 100%;
        max-width: $max-width-container;
    }

    @include respond-to(phone) {
        padding: $space-lg 0;

        &__items {
            @include flex(row, center, center);
            flex-wrap: wrap;
            gap: $space-lg;

            svg {
                width: 25%;
            }
        }
    }

    
}