@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.dress-styles {
    @include flex(column, center, center);
    max-width: $max-width-container;
    margin: 0 auto;
    padding: 3em 2em 2em 2em;
    background-color: $color-gray;
    border-radius: $radius-xxl;

    br {
        display: none;
    }

    @include respond-to(phone) {
        h2 {
            text-align: center;
            margin-bottom: $space-md;
        }

        br {
            display: block;
        }

        margin: 0 $space-md;
    }

    &__items {
        @include flex(column, center, center);
        gap: 1em;
        width: 100%;
        padding: 2em;

        @include respond-to(phone) {
            margin-top: $space-md;
            padding: 0;
        }

        &__row {
            @include flex(row, center, center);
            gap: 1rem;
            width: 100%;

            @include respond-to(phone) {
                flex-direction: column;

                > .dress-styles__items__item--small,
                > .dress-styles__items__item--large {
                    flex: none;
                    width: 100%;
                }
            }

        }

        &__item {
            position: relative;
            overflow: hidden;
            border-radius: $radius-xl;
            height: 300px;
            background-color: $color-secondary;
            background-size: cover;
            background-position: right;
            background-repeat: no-repeat;

            &--small {
                @extend .dress-styles__items__item;
                flex: 1;
                
                &:nth-child(1) {
                    background-image: url('../assets/homepage/casual.webp');
                    background-size: 200%;
                    background-position: right 45% top 45%;

                    @include respond-to(desktop) {
                        background-image: url('../assets/homepage/thumbnails/casual-1200.webp');
                    }

                    @include respond-to(tablet) {
                        background-image: url('../assets/homepage/thumbnails/casual-800.webp');
                    }

                    @include respond-to(phone) {
                        background-image: url('../assets/homepage/thumbnails/casual-400.webp');
                    }

                }
                
                &:nth-child(2) {
                    background-image: url('../assets/homepage/gym.webp');
                    background-size: 115%;
                    background-position: right -5em top -9em;

                    @include respond-to(desktop) {
                        background-image: url('../assets/homepage/thumbnails/gym-1200.webp');
                    }

                    @include respond-to(tablet) {
                        background-image: url('../assets/homepage/thumbnails/gym-800.webp');
                    }

                    @include respond-to(phone) {
                        background-image: url('../assets/homepage/thumbnails/gym-400.webp');
                    }
                }
            }

            &--large {
                @extend .dress-styles__items__item;
                flex: 2;

                &:nth-child(1) {
                    background-image: url('../assets/homepage/party.webp');
                    background-position: right -6em top -10em;

                    @include respond-to(desktop) {
                        background-image: url('../assets/homepage/thumbnails/party-1200.webp');
                    }

                    @include respond-to(tablet) {
                        background-image: url('../assets/homepage/thumbnails/party-800.webp');
                    }

                    @include respond-to(phone) {
                        background-image: url('../assets/homepage/thumbnails/party-400.webp');
                        background-size: 130%;
                        background-position: right -6em top 1em;
                    }
                }
                
                &:nth-child(2) {
                    background-image: url('../assets/homepage/formal.webp');
                    background-size: 160%;
                    background-position: right 130% top 26%;

                    @include respond-to(desktop) {
                        background-image: url('../assets/homepage/thumbnails/formal-1200.webp');
                    }

                    @include respond-to(tablet) {
                        background-image: url('../assets/homepage/thumbnails/formal-800.webp');
                    }

                    @include respond-to(phone) {
                        background-image: url('../assets/homepage/thumbnails/formal-400.webp');
                    }
                }
            }

             > p {
                @include text($font-size-lg, $font-weight-bold, $color-primary);
                position: absolute;
                top: 1em;
                left: 1em;
                z-index: 1;
            }
        }
    }
}